<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.expandclass');   // Click selector


  $click.click(function () {

    $clicked = $(this);
    $expand = $(this).parent('.expand').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of expand based on visibility of content div
        });

    });
});
</script>
</head>
<body>
<center>
<h1>Ansible Network Automation NTP Compliance Report</h1>
</center>

<center>
<h2 style="color: #dc2d08;">NTP Servers missing</h2>
</center>

<table>
    <thead>
        <tr>
            <th>Device</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody>
{% for device in groups['ssh_devices']|sort %}
   {% for ip in hostvars[device].in_servers %}
        <tr>
            <td>{{ hostvars[device].ansible_host }}</td>
            <td>{{ ip }}</td>
        </tr>
   {% endfor %}
{% endfor %}
    </tbody>
</table>

<center>
<h2 style="color: #deda09;">NTP Servers to be removed</h2>
</center>

<table>
    <thead>
        <tr>
            <th>Device</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody>
{% for device in groups['ssh_devices']|sort %}
   {% for ip in hostvars[device].out_servers %}
        <tr>
            <td>{{ hostvars[device].ansible_host }}</td>
            <td>{{ ip }}</td>
        </tr>
   {% endfor %}
{% endfor %}
    </tbody>
</table>

<center><p>Created with</p><br><img src="webpage_logo.png" width="300">
<p>The source code to create this report can be found at <a href="https://github.com/nleiva/ansible-networking">https://github.com/nleiva/ansible-networking</a></br><br>
If you are new to Ansible Automation check out the following links:<br>
<a href="https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html">Getting Started</a"><br>
<a href="https://ansible.com/workshops">Free hands-on workshops</a><br>
<a href="https://youtube.com/ansibleautomation">Youtube Videos</a><br>
</p>
</center>

</body>
</html>